doctype html
html
  head
    title= title

    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8") 
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="IE=7")
    meta(name="description", content="")
    meta(name="keywords", content="")
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://kit.fontawesome.com/4bfdfdab4d.js" crossorigin="anonymous")

  body
    header
      div.nav
        div.container  
          a(href='#').logo Library  
            span Express
            
    div.container
      block content
